header{
  background-image: url('../image/icone_facebook.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 256px;
}
#présentation{
  background-color: #EFDEE0;
  text-align:center;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
}
#titleText{
  font-family: 'Delius Swash Caps', cursive;
  color: #946E83;
}
p{
  font-family: 'Delius', cursive;
  color: #946E83;
}
